/* Resets */
body, p {
  margin: unset ;
}

h1 {
  margin: unset;
  font-size: unset;
  font-weight: unset ;
}

img {
  width: 100%;
  vertical-align: top;
}

/* Variables */
:root {
  --color-brown-10: #E8BC9C;
  --color-brown-20: #9C6035;
  --color-brown-30: #46260E; 
}

/* Typography */
:root {
  font-family: "arial";
  font-size: 62.5%; /* 10px  */
  line-height: 1.2; /* "arial" 폰트의 line-height */
}

body {
  font-size: 1.6rem;
}

/* Components */
body {
  background-image: url(images/bg.png);
  background-position: center;
  background-attachment: fixed;
}

.viewport {
  display: flex;
  height: 100vh;

  padding: 40px;
  box-sizing: border-box;

  justify-content: center;
  align-items: center;
}

.viewport-center {
  width: 300px; /* flex-basis: 300px; min-width: 300px; 을 함축하고 있음 */
  /* height는 콘텐츠의 크기만큼 늘어나기 때문에 따로 설정을 하지 않는다. */
}

.animal-cover {
  display: block;
  margin: 0 auto;
  width: 300px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.animal-main {
  background-color: var(--color-brown-20);
  color: var(--color-brown-10);

  border-radius: 0 0 30px 30px;
  border-bottom: 10px solid var(--color-brown-30);
}

.animal-main::before {
  content: "";
  background-image: url(images/green.png);
  display: block; /* pseudo elements는 inline elements이기 때문에 block 속성을 정의해주어야 한다. */
  height: 50px;
}

.animal-contents {
  padding: 10px 20px 47px 20px;
}

.animal-contents h1 {
  font-size: 3.6rem;
  font-weight: 700;
  color: white ;
}