/* Resets */
body {
  margin: unset ;
}

img {
  vertical-align: top;
}

/* Components */
.viewport {
  box-shadow: inset 0 0 20px red;
  display: flex;
  height: 100vh;
}

.viewport-center {
  box-shadow: inset 0 0 20px blue;
  width: 300px; /* flex-basis: 300px; min-width: 300px; 을 함축하고 있음 */
  /* height는 콘텐츠의 크기만큼 늘어나기 때문에 따로 설정을 하지 않는다. */

  margin: auto;
}

.animal-cover {
  box-shadow: inset 0 0 20px purple;
}

.animal-main {
  box-shadow: inset 0 0 20px gold;
}

.animal-main::before {
  content: "잔디";
  background-image: url(images/green.png);
  display: block; /* pseudo elements는 inline elements이기 때문에 block 속성을 정의해주어야 한다. */
  height: 50px;
}